@font-face {
	font-family: "VCR";
	src: url("../fonts/vcr.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "ProductSans-Medium";
	src: url("../fonts/ProductSans-Medium.ttf");
}
@font-face {
	font-family: "FiraCode";
	src: url("../fonts/FiraCode.ttf");
}

:root {
	--color-windows-r: 22;
	--color-windows-g: 22;
	--color-windows-b: 29;
	--opacity-window: 0.75;
	--border-rad-sys: 24px;
	--perma-blur-fx-strength: 4px;
	--frost-shadow-light: #48484e;
	--frost-shadow-dark: #1f1f22;
	--lock-clck-w: 800;
}
html,
body {
	/*width: 100vw;*/
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(22, 22, 29);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* scroll-snap-type: none; */
	overflow: hidden;
	/* object-fit: contain; */
scale: 0.99;
	font-family: "ProductSans-Medium", Tahoma;
}
code {
	font-size: 9.5pt;
	font-family: "FiraCode", Tahoma;
}
#loa_scre {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 20000;
	background: #222231;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: white;
	opacity: 1;
	transition: all 0.25s ease;
}
#loa_bar {
	width: 315px;
	height: 9.5px;
	border: 2.5px solid #ff00a8;
	/* border-image: linear-gradient(to right, #ff00a8, #ff6f91); */
	border-radius: 20px;
	overflow: hidden;
}
#loa_under {
	width: 0%;
	height: 100%;
	background: #ff00a8;
	transition: width 0.05s linear;
	border-radius: 0;
}
#hints_dialogie {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: 10000;
	background: #232334;
	border: 5px solid #fff1;
	border-radius: 20px;
	width: 290px;
	height: 370px;
	color: white;
	text-align: center;
	opacity: 0;
	transition: all 0.25s ease;
}
#ok_butt {
	background: #ccccdc;
	color: black;
	border: none;
	width: 90px;
	height: 40px;
	border-radius: 20px;
}
.about_text {
	display: flex;
	align-items: center;
	margin-left: 10px;
	gap: 7.5px;
}
.title_general {
	display: flex;
	align-items: center;
	margin-left: 8px;
	gap: 7.5px;
}
.marked_left {
	width: 5px;
	height: 32px;
	border-radius: 5px;
	background: cornflowerblue;
	/*margin-right: 5px;*/
}
.marked_left_title {
	width: 4px;
	height: 23.75px;
	border-radius: 0px;
	background: whitesmoke;
	/*margin-right: 5px;*/
}
#screen {
	outline: 1.5px solid #bababa;
	outline-offset: 1.5px;
	border: 4.6px solid #000;
	width: 270px;
	height: 540px;
	/*aspect-ratio: 270/520;*/
	background: linear-gradient(to top, #3b5579, #87a3ad);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: var(--border-rad-sys);
	object-fit: contain;
	position: relative;
	top: 0;
	left: 0;
	transition: all 0.525s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	overflow: hidden;
}
#blankscreen {
	display: flex;
	z-index: 10000;
	opacity: 1;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	transition: all 0.25s ease;
}
#blankscreen.hidden {
	z-index: -1;
	opacity: 0;
}
#camera {
	width: 100px;
	height: 24.5px;
	background: #000;
	color: #000;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: 10pt;
	border: 1px solid #36474e;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	position: absolute;
	top: 2px;
	left: 50%;
	scale: 1;
	translate: -50%;
	display: flex;
	z-index: 2000;
	transition:
		width 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55),
		height 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55),
		top 0.2s ease,
		all 0.224s ease;
}
#status_bar {
	display: flex;
	background: #2227;
	width: 100%;
	height: 25px;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 7.5px;
	padding-top: 5px;
	color: whitesmoke;
	z-index: 1900;
	transition: all 0.375s ease-in-out;
	backdrop-filter: blur(var(--perma-blur-fx-strength));
	border: 1px solid #ffffff1a;
}
#status_bar.hidden {
	top: -100%;
}
#status_notif {
	top: 0;
	left: 0;
	width: 50%;
	height: 25px;
	position: absolute;
	background: #0f00;
	z-index: 1950;
}
#status_cntrl {
	top: 0;
	right: 0;
	width: 50%;
	height: 25px;
	position: absolute;
	background: #f000;
	z-index: 1950;
}
#status_clock {
	mix-blend-mode: difference;
	transition: all 0.25s ease;
}
#battery_container {
	display: flex;
	align-items: center;
	position: absolute;
	right: 21.25px;
	top: 7.5px;
	width: 35px;
	height: 12px;
	border: 1px solid #374046;
	border-radius: 3px;
	background: #84869b11;
	overflow: hidden;
}
#battery_level {
	height: 100%;
	width: 0%;
	background: #fff;
	transition:
		width 0.5s ease,
		background 0.35s cubic-bezier(0.7, 0.11, 0.28, 1.13);
}
#battery_text {
	text-align: center;
	font-size: 8pt;
	position: absolute;
	right: 24px;
	top: 7.5px;
	mix-blend-mode: difference;
}
#nav_handle {
	width: 120px;
	height: 4.1px;
	background: #fff;
	mix-blend-mode: difference;
	border-radius: 1px solid #aaaaaa1a;
	border-radius: 10px;
	position: absolute;
	bottom: 4.45px;
	left: 50%;
	translate: -50%;
	z-index: 2000;
	transition: bottom 0.175s ease;
	cursor: grab;
}
#nav_underlay {
	width: 100%;
	height: 15.5px;
	background: #2221;
	position: absolute;
	bottom: 0;
	z-index: 1999;
	backdrop-filter: blur(10000px);
	cursor: grab;
}
#lock_screen {
	width: 100%;
	height: 100%;
	color: white;
	background: #16161dbe;
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	backdrop-filter: blur(20px);
	position: absolute;
	border-radius: calc(var(--border-rad-sys) - 2px);
	top: 0;
	left: 0;
	opacity: 1;
	transition:
		opacity 0.26s ease,
		all 0.35s ease-out;
	z-index: 100;
}
#lock_screen.hidden {
	top: -100%;
	opacity: 0.5;
}
#clock_lock {
	left: 50%;
	top: 80px;
	position: absolute;
	font-size: 50pt;
	translate: -50%;
	font-family:
		"ProductSans-Medium",
		Times New Roman;
	mix-blend-mode: difference;
	color: #ffffff;
	text-wrap: none;
	font-weight: var(--lock-clck-w);
}
#date_lock {
	left: 50%;
	translate: -50%;
	font-size: 16pt;
	top: 150px;
	position: absolute;
	mix-blend-mode: difference;
	font-family:
		"VCR",
		Times New Roman;
}
.liquid_glass_element {
	min-width: 35px;
	min-height: 35px;
	border: 1px solid #ffffff4c;
	border-radius: 1.4em;
	box-shadow: inset 0 0 8px 1px #ffffff4c;
	background: #66666633;
	backdrop-filter: blur(var(--perma-blur-fx-strength));
	transition: backdrop-filter 0.35s ease;
	color: whitesmoke;
	isolation: isolate;
}
#home_screen {
	width: 90%;
	height: auto;
	top: 0;
	left: 50%;
	translate: -50%;
	position: absolute;
	z-index: 5;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px 5px;
	margin: 0 auto;
	margin-top: 40px;
	scale: 1;
	transition:
		opacity 0.25s ease,
		all 0.4s cubic-bezier(0.7, 0.33, 0.29, 0.8);
	opacity: 1;
}
#home_screen.config {
	scale: 0.85;
}
#home_screen.hidden {
	top: 100%;
	opacity: 0;
}
.icon_home {
	object-fit: contain;
	cursor: pointer;
	border-radius: 0;
	/*scale: 0.314;*/
	width: 55px;
	height: 55px;
}
.application_app {
	z-index: 98;
	padding-top: 25px;
}
#app_settings,
#app_personal,
#app_about,
#app_calc,
#app_gallery,
#app_terminal {
	top: 100%;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(var(--color-windows-r), var(--color-windows-g), var(--color-windows-b), var(--opacity-window));
	color: white;
	opacity: 0;
	transition:
		opacity 0.25s ease,
		all 0.325s cubic-bezier(0.93, 0.2, 0.26, 0.56);
	border: 1px solid #ffffff1a;
	border-radius: calc(var(--border-rad-sys) + 1px);
}
#app_settings.opened,
#app_personal.opened,
#app_about.opened,
#app_calc.opened,
#app_gallery.opened,
#app_terminal.opened {
	top: 0;
	opacity: 1;
}
#app_terminal {
	text-align: center;
}
#app_personal {
	overflow-y: scroll;
	padding-bottom: 5px;
}
#app_about p {
	position: absolute;
	left: 50%;
	translate: -50%;
}
.app_bar {
	display: flex;
	align-items: center;
}
#close_settings,
#close_about,
#close_persolan {
	margin-right: 5px;
}
hr {
	width: 250px;
	height: 2px;
	background: #7f7f7f7f;
	border: none;
	border-radius: 20px;
}
.settings_section {
	width: 250px;
	height: 70px;
	background: #7f7f7f;
	left: 50%;
	translate: -50%;
	position: absolute;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
.options_button {
	width: 200px;
	left: 50%;
	translate: -50%;
	position: absolute;
}
.wallpaper_selector {
	width: 120px;
	height: 225px;
	object-fit: cover;
	border-radius: 20px;
	box-shadow: 0 4px 8px #00000055;
}
#carrousel {
	display: flex;
	flex-direction: row;
	gap: 8px;
	overflow-y: scroll;
	padding: 2px;
	border: 1px solid #ffffff1a;
	border-radius: 20px;
	backdrop-filter: blur(var(--perma-blur-fx-strength));
	transition: backdrop-filter 0.35s ease;
	background: #64646466;
}
.cutout_button {
	width: 80px;
	height: 35px;
}
#uploader__button {
	width: 200px !important;
	height: 5px !important;
	padding: 2px;
	font-size: 12pt;
	left: 50%;
	translate: -50%;
	position: absolute;
	text-align: center;
}
#calc_panel {
	padding: 5px;
	position: absolute;
	top: 45px;
	left: 50%;
	translate: -50%;
	width: 90%;
	overflow-x: hidden;
	height: 10px;
	text-align: right;
	font-size: 27.5px;
	font-weight: 700;
	color: #dedeff;
	font-family: Verdana, sans-serif;
	height: 120px;
}
#calc_panel::placeholder {
	color: #bababa;
}
#app_calc button {
	padding: 5px;
	width: 50px;
	height: 50px;
	border-radius: 2.5%;
	border: 1px solid #dddddd1a;
	background: rgba(100, 100, 120, 0.4);
	font-size: 17.5px;
	font-weight: 600;
	color: whitesmoke;
	font-family: "Montserrat", sans-serif;
	margin: 5px;
	/*box-shadow: 6px 6px 12px var(--frost-shadow-dark), -6px -6px 12px var(--frost-shadow-light);
	/*backdrop-filter: blur(2.5px);*/
}
#numpad {
	position: absolute;
	top: 200px;
}
]
#blur_stren_slider {
	text-align: center;
}
#gallery_image {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 90%;
	height: 95%;
	object-fit: contain;
	border-radius: 10px;
	z-index: 500;
}
#button_gallery {
	bottom: 45px;
	left: 50%;
	translate: -50%;
	position: absolute;
	z-index: 501;
}
#popup {
	position: absolute;
	/*background: rgba(120, 120, 140, 0.4);*/
	color: white;
	text-align: center;
	align-content: center;
	width: 90%;
	height: 60px;
	z-index: 800;
	/*backdrop-filter: blur(var(--perma-blur-fx-strength));*/
	border-radius: 15px;
	top: -40%;
	left: 50%;
	translate: -50%;
	transition: all 0.65s ease;
	font-size: 10pt;
}
#cntrl_panel {
	transition: all 0.3s ease;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #16161d9a;
	backdrop-filter: blur(var(--perma-blur-fx-strength));
	border: 1px solid #ffffff1a;
	border-radius: var(--border-rad-sys);
	position: absolute;
	z-index: 299;
}
#cntrl_panel.shown {
	top: 0;
}
#wifi {
	position: absolute;
	top: 50px;
	left: 5px;
	padding: 5px;
	width: 70px;
	height: 30px;
}
#comm_list {
	font-kerning: 1pt;
	white-space: 0;
}
#console_page {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 50px;
	left: 50%;
	translate: -50%;
	z-index: 99;
	gap: 7.5px;
}
#console_inpit {
	width: 160px;
	height: 22.5px;
	background: #64646466;
	border: 1px solid #fff1;
	padding: 5px;
	/*border-radius: 10px;*/
	color: white;
	/*backdrop-filter: blur(var(--perma-blur-fx-strength));*/
	font-family: "FiraCode", Verdana;
}
#app_terminal {
	overflow-y: scroll;
}
#del_xo,
#exec_xo {
	font-family: "FiraCode", Verdana;
}
#comm_list,
#scrollabe_comm {
	overflow-y: scroll;
}
